.banner{
    padding-top: 800px;
    background-image: url('../image/capture1.png');
    background-repeat: no-repeat;
    background-size: 100%;
}


.footercon1 {
    background-image: url('../image/sabo_new.png');
    border-radius: 50%;
    background-repeat: no-repeat;
    width: 30%;
    height: 300px;
    background-size: cover;
}
.divcha{
    width: 100%;
    height: 100%;
}
